.vim/bundle/*
.vim/.netrwhist
*.gpg
/emacs/emacs-custom.el
*.elc
/linux/mail-query.sh

#cert for local dev
#
#{
#    local_cert = ''
#      -----BEGIN CERTIFICATE-----
#      -----END CERTIFICATE-----
#    '';
#}
#
/nixos/shared.nix

#local nas config
#see crate.sample.nix for shape
/nixos/fin/crate.nix

#/etc/hosts config
#{
#  hosts = ''
#  '';
#  extra = ''
#    iptables -I INPUT -s LAN.IP/12 -j ACCEPT
#  '';
#}
nixos/fin/hosts.nix
.npmrc
